body{

}

#details-block{

}

.carinfo{
    background: #2980b9;
    padding: 10px;
    padding-right: 35px;
    padding-left: 00px;
    padding-bottom: 0px;
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    width:80%;
}

.carinfo ul  {
    list-style-type: none;
}

.carinfo ul li {
	font-size: 14px;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 5px 0
}
.carinfo ul li:last-child {
    border-bottom: 0;
}
.carinfo ul li strong {
	float: right;
}

#trusted-garage{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#header{
}

#car{
    justify-content: center;
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#images{
    justify-content:center;
    padding : 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image{
    flex-grow: 1;
    padding : 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding-right: 15px;
}

#image4{
    border-radius: 5px;
    padding : 2px;
    transition: 0.3s;
}
.image:hover {opacity: 0.7;}

#image4:hover {opacity: 0.7;}

#details{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20;
    padding-left: 5%;
    width: 40%
    
}

#images-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#history{
    flex-grow: 2;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.history-block-chain{

}

#history-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#certification{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

#block5{
    display: none;
}

.block-icon{
    display: flex;
    justify-content: center;
    padding-right: 10px; 
    margin-bottom: 15px;
}

hr{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.history-block{
    text-align: left;
    font-size: 12px;
    padding-left: 10px; 
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2980b9;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    width: 150px;
    height: 200px;
}

.history-block-chain{
    display:flex;
    justify-content: center;
    align-items: center;
}

.history-block:hover {
    opacity: 0.7;
}

#add{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border: 1px solid #2980b9;
}

#chain5{
    display:none;
}

#add-img:hover{
    opacity: 0.7;
}

#form{
    color: white;
    background-color: #2980b9;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 25%;
    margin-right: 25%;
    display: none;
}

#footer{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.hr-form{
    display:none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}